/********************** sets custom default for all elements */
* {
  font-family: 'Heebo', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
}

/********************** prevents imgs from having the same bg-colour */
body {
  height: 100%;
  background: lightblue;
}

/********************** styles start and complete titles */
#title-start,
#title-completed {
  font-size: 15vw;
}

/********************** styles main heading */
#title-zoo {
  margin-top: 5px;
  font-size: 15vw;
}

/********************** styles timer, time and restart titles */
#timer,
#title-time,
#title-restart {
  font-size: 10vw;
}

/*------------------------------------------------------------------------- CARDS -------------------------------------------------------------------------*/

/********************** adds to the style of the flip*/
section.matching-game {
  perspective: 1000px;
}

/********************** grid system for cards and sub headings */
.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  justify-content: center;
}

/********************** flips whole card */
.whole-card {
  transform-style: preserve-3d;
  transition: 0.6s;
}

/********************** styles front and back side of cards */
.front,
.back {
  border: 3px solid palevioletred;
  background-color: yellow;
  height: 130px;
  width: 95px;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
  backface-visibility: hidden;
}

/********************** puts back of card in one place */
.back {
  position: relative;
}

/********************** puts front of card on top of back of card */
.front {
  position: absolute;
  transform: rotateY(180deg);
}

/********************** keeps imgs same size as .front,.back{} is styled  */
img {
  height: 80%;
  width: 80%;
}

/*------------------------------------------------------------------------- MEDIA QUERIES -------------------------------------------------------------------------*/
/* Breakpoints taken from Bootstrap */

/* small */
@media (min-width: 576px) {
  /********************** grid system for cards */
  .cards-container {
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
  }

  /********************** styles front and back side of cards */
  .front,
  .back {
    height: 200px;
    width: 120px;
  }
} /* small end */

/* medium */
@media (min-width: 768px) {
  /********************** styles front and back side of cards */
  .front,
  .back {
    height: 200px;
    width: 170px;
  }
} /* medium end */

/* large */
@media (min-width: 992px) {
  /********************** styles front and back side of cards */
  .front,
  .back {
    height: 200px;
    width: 200px;
  }
} /* large end */

/* extra large */
@media (min-width: 1200px) {
  /********************** styles main heading*/
  #title-zoo,
  #title-start,
  #title-completed {
    font-size: 9vw;
  }

  /********************** styles timer */
  #timer,
  #title-time,
  #title-restart {
    font-size: 5vw;
  }

  /********************** styles front and back side of cards */
  .front,
  .back {
    width: 230px;
  }
} /* extra large end */

/*------------------------------------------------------------------------- JAVASCRIPT/JQUERY -------------------------------------------------------------------------*/

/********************** to flip cards back and forth */
.flip {
  transform: rotateY(180deg);
}
