/********************** sets custom default for all elements */
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

/********************** prevents imgs from having the same bg-colour */
body{    
    height: 100%;
}

/********************** main heading */
.title-farm{
    font-size: 7vw;
}

/********************** styles timer */
.timer{
    margin-top: 20px;
    font-size: 6vw;
}

/*------------------------------------------------------------------------- CARDS -------------------------------------------------------------------------*/

/********************** to delete at the end -maybe not the last one*/
section.matching-game{
    border: red 2px solid;
    /* perspective: 1000px; */  /* -bit much tho. */
}

/********************** grid system for cards and sub headings */
.flex-container{
    border: blue 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/********************** flips whole card */
.whole-card{
    border: orange 2px solid;
    /* position: relative; */
    transform-style: preserve-3d;
    transition: 0.6s;
}

/********************** styles front and back side of cards */
.front, .back{    
    border: 3px solid palevioletred;
    background-color: yellow;
    height: 60px;
    width: 50px;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 5px;
    backface-visibility: hidden;
}

/********************** puts back of card in one place */
.back{
    position: relative; 
}

/********************** puts front of card on top of back of card */
.front{
    position: absolute;
    transform: rotateY(180deg);
}

/********************** styles animal and question mark images */
/* img{
    height: 200px;
    width: 130px;  
} */

/*------------------------------------------------------------------------- JAVASCRIPT/JQUERY -------------------------------------------------------------------------*/

/********************** to flip cards back and forth */
.flip{
    transform: rotateY(180deg)
}