* {
  text-align: center;
  font-family: "Pangolin", cursive;
  color: brown;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0em;
  margin: 0em;
}

body {
  background: #0ffa0f;
  height: 100%;
}

#zoo {
  width: 40%;
}

/**************************************************************************************** start modal */
.modalBackground {
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1;
}

#start {
  background-color: greenyellow;
  border: 3px solid darkgreen;
  width: 100%;
  border-radius: 10px;
}

#start h1 {
  font-size: 20vw;
}

#start p {
  font-size: 7vw;
}

/**************************************************************************************** titles */
#title,
#completed,
#highScore {
  font-size: 15vw;
}

#timer,
.fas.fa-redo-alt {
  font-size: 10vw;
}

#highScore,
#completed,
.fas.fa-redo-alt {
  margin-top: 20px;
}

/**************************************************************************************** cards */
section.decorativeFlip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cardsContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 2px;
}

.wholeCard {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.front,
.back {
  border: 3px solid darkgreen;
  background-color: greenyellow;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130px;
  width: 95px;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 1px;
}

.back {
  position: relative;
}

.front {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

img {
  height: 80%;
  width: 80%;
}

/**************************************************************************************** JavaScript/jQuery */
.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.invisible {
  visibility: hidden;
}

/**************************************************************************************** bootstrap breakpoints */
@media (min-width: 576px) {
  #start h1 {
    font-size: 15vw;
  }
  #start p {
    font-size: 5vw;
  }
  #title,
  #completed,
  #highScore {
    font-size: 10vw;
  }
  #timer,
  .fas.fa-redo-alt {
    font-size: 5vw;
  }
  .cardsContainer {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
  }
  .front,
  .back {
    height: 200px;
    width: 120px;
  }
}

@media (min-width: 768px) {
  #start h1 {
    font-size: 13vw;
  }
  #zoo {
    width: 30%;
  }
  #title,
  #completed,
  #highScore {
    font-size: 8vw;
  }
  .front,
  .back {
    width: 170px;
  }
}

@media (min-width: 992px) {
  #zoo {
    width: 20%;
  }
  #title,
  #completed,
  #highScore {
    font-size: 6vw;
  }
  .front,
  .back {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  #zoo {
    width: 15%;
  }
  .front,
  .back {
    width: 230px;
  }
}
/*# sourceMappingURL=style.css.map */